.hero {
  padding: 88px 0 100px 0;

  @media (max-width: 500px) {
    padding: 42px 0 50px 0;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 500px) {
    flex-direction: column;
    text-align: center;
    margin: 0 35px;
  }
}

.left {
  margin-left: 100px;
  flex: 1;
  width: 100%;

  @media (max-width: 500px) {
    margin-left: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 0.25px;
    color: #053f79;
    margin-bottom: 20px;
    line-height: 78px;

    @media (max-width: 500px) {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 15px;
    }
  }

  p {
    font-size: 24px;
    color: #acacac;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 35px;

    @media (max-width: 500px) {
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      margin-bottom: 15px;
    }
  }
}

.advantages {
  display: grid;
  max-width: 625.5px;
  grid-template-columns: repeat(2, auto);
  gap: 15px 10px;
  margin-bottom: 30px;

  @media (max-width: 500px) {
    text-align: start;
    gap: 14px;
  }
}

.item {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #293241;
  gap: 8px;

  @media (max-width: 500px) {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    gap: 5px;
  }
}

.button {
  margin-top: 137px;
  padding: 10px;
  max-width: 295px;
  height: 48px;
  width: 100%;
  background: #053f79;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s;
  font-family: Montserrat;

  &:hover {
    background: #053e6a;
  }

  @media (max-width: 500px) {
    margin-top: 33px;
    max-width: 326px;
    height: 48px;
    width: 100%;
    z-index: 2;
  }
}

.right {
  position: relative;
  width: 529px;
  height: 837px;

  @media (max-width: 500px) {
    height: 400px;
  }
}

.bg {
  position: absolute;
  top: 50%;
  left: 23%;
  width: 811px;
  height: 811px;
  transform: translate(-50%, -50%);
  z-index: 1;

  @media (max-width: 500px) {
    display: none;
  }
}

.bg_adaptive {
  display: none;

  @media (max-width: 500px) {
    position: absolute;
    top: 34%;
    left: 47%;
    width: 532px;
    height: 472px;
    transform: translate(-50%, -50%);
    z-index: 0;
    display: block;
  }
  @media (max-width: 375px) {
    position: absolute;
    top: 34%;
    left: 48%;
    width: 532px;
    height: 472px;
    transform: translate(-50%, -50%);
    z-index: 0;
    display: block;
  }
}

.bg_adaptive2 {
  display: none;

  @media (max-width: 500px) {
    position: absolute;
    top: 46%;
    left: 53%;
    width: 465px;
    height: 411px;
    transform: translate(-50%, -50%);
    z-index: 0;
    display: block;
  }
  @media (max-width: 375px) {
    position: absolute;
    top: 49%;
    left: 45%;
    width: 415px;
    height: 368px;
    transform: translate(-50%, -50%);
    z-index: 0;
    display: block;
  }
}

.master {
  position: absolute;
  top: 50%;
  left: 27%;
  width: 529px;
  height: 837px;
  transform: translate(-50%, -50%);
  z-index: 2;

  @media (max-width: 500px) {
    width: 238px;
    height: 376px;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
